.elements {
  display: flex;
  }
  
.main-canvas {
  margin: 20px;
  border: 1px solid black;
  }
  
.preload-images {
  overflow: hidden;
  height: 0;
}
  
ul {
  list-style-type: none;
  border: 2px solid black;
  padding: 20px;
  font-display: black;
  background-color: lightgrey;
}

   